<header class="acksm-header">
  <img class="acksm-portrait" data-action="editImage" data-edit="img" src="{{actor.img}}" alt="{{actor.name}}" />
  <div class="acksm-head-main">
    <input class="acksm-name" type="text" name="name" value="{{actor.name}}"
           placeholder="{{localize 'ACKS-MONSTERS.field.name'}}" />
    <div class="acksm-head-stats">
      <div class="acksm-hstat">
        <label>{{localize 'ACKS-MONSTERS.field.hdShort'}}</label>
        <span>{{acksmVal extras.hd.count}}{{#if extras.hd.bonus}}+{{extras.hd.bonus}}{{/if}}</span>
      </div>
      <div class="acksm-hstat">
        <label>{{localize 'ACKS-MONSTERS.field.ac'}}</label>
        <span>{{acksmVal system.aac.value}}</span>
      </div>
      <div class="acksm-hstat">
        <label>{{localize 'ACKS-MONSTERS.field.hp'}}</label>
        <span>{{acksmVal system.hp.value}}/{{acksmVal system.hp.max}}</span>
      </div>
      <div class="acksm-hstat">
        <label>{{localize 'ACKS-MONSTERS.field.xp'}}</label>
        <span>{{acksmVal system.details.xp}}</span>
      </div>
      <div class="acksm-hstat">
        <label>{{localize 'ACKS-MONSTERS.field.morale'}}</label>
        <span>{{acksmVal system.details.morale}}</span>
      </div>
    </div>
  </div>
</header>
