<section class="tab acksm-tab {{tab.cssClass}}" data-group="primary" data-tab="attacks">
  <div class="acksm-list-head">
    <h3>{{localize "ACKS-MONSTERS.section.attacks"}}</h3>
    <button type="button" data-action="createItem" data-item-type="weapon"><i class="fa-solid fa-plus"></i> {{localize "ACKS-MONSTERS.action.addAttack"}}</button>
  </div>
  <p class="acksm-hint">{{localize "ACKS-MONSTERS.hint.attacks"}}</p>
  <ol class="acksm-items">
    {{#each weapons as |item|}}
    <li class="acksm-item" data-item-id="{{item.id}}">
      <img class="acksm-item-img" src="{{item.img}}" data-action="editItem" alt="{{item.name}}" />
      <span class="acksm-item-name" data-action="editItem">{{item.name}}</span>
      <span class="acksm-item-meta">{{item.system.damage}}{{#if item.system.counter.max}} · ×{{item.system.counter.max}}{{/if}}</span>
      {{#with item.flags.[acks-monsters] as |mf|}}
        {{#if mf.naturalWeapon}}<span class="acksm-badge">{{mf.naturalWeapon}}</span>{{/if}}
        {{#if mf.damageType}}<span class="acksm-badge acksm-dmg">{{mf.damageType}}</span>{{/if}}
        {{#if mf.extraordinary}}<span class="acksm-badge acksm-xtra">{{localize "ACKS-MONSTERS.item.extraordinaryShort"}}</span>{{/if}}
      {{/with}}
      <span class="acksm-item-controls">
        <a data-action="editItem" data-tooltip="{{localize 'ACKS-MONSTERS.action.edit'}}"><i class="fa-solid fa-pen-to-square"></i></a>
        <a data-action="deleteItem" data-tooltip="{{localize 'ACKS-MONSTERS.action.delete'}}"><i class="fa-solid fa-trash"></i></a>
      </span>
    </li>
    {{else}}
    <li class="acksm-empty">{{localize "ACKS-MONSTERS.empty.attacks"}}</li>
    {{/each}}
  </ol>
</section>
