<section class="tab acksm-tab {{tab.cssClass}}" data-group="primary" data-tab="spoils">
  <div class="acksm-list-head">
    <h3>{{localize "ACKS-MONSTERS.section.spoils"}}</h3>
    <button type="button" data-action="createItem" data-item-type="item"><i class="fa-solid fa-plus"></i> {{localize "ACKS-MONSTERS.action.addSpoil"}}</button>
  </div>
  <p class="acksm-hint">{{localize "ACKS-MONSTERS.hint.spoils"}}</p>
  <ol class="acksm-items">
    {{#each spoils as |item|}}
    <li class="acksm-item" data-item-id="{{item.id}}">
      <img class="acksm-item-img" src="{{item.img}}" data-action="editItem" alt="{{item.name}}" />
      <span class="acksm-item-name" data-action="editItem">{{item.name}}</span>
      <span class="acksm-item-meta">{{acksmVal item.system.weight6 0}}/6 st · {{acksmVal item.system.cost 0}} gp</span>
      {{#with item.flags.[acks-monsters] as |mf|}}
        {{#if mf.component}}<span class="acksm-badge acksm-cat">{{localize "ACKS-MONSTERS.item.componentShort"}}</span>{{/if}}
        {{#each mf.researchEffects as |eff|}}<span class="acksm-badge acksm-eff">{{eff}}</span>{{/each}}
      {{/with}}
      <span class="acksm-item-controls">
        <a data-action="editItem" data-tooltip="{{localize 'ACKS-MONSTERS.action.edit'}}"><i class="fa-solid fa-pen-to-square"></i></a>
        <a data-action="deleteItem" data-tooltip="{{localize 'ACKS-MONSTERS.action.delete'}}"><i class="fa-solid fa-trash"></i></a>
      </span>
    </li>
    {{else}}
    <li class="acksm-empty">{{localize "ACKS-MONSTERS.empty.spoils"}}</li>
    {{/each}}
  </ol>
</section>
