<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="encounter">
  <div class="content flexcol acksm-content">

    <p class="acksm-hint">{{localize "ACKS-MONSTERS.hint.encounter"}}</p>

    <fieldset>
      <legend>{{localize "ACKS-MONSTERS.section.encounter"}}</legend>
      <div class="flexrow">
        <div class="form-group"><label>{{localize "ACKS-MONSTERS.field.lairChance"}}</label>
          <div class="form-fields"><input type="number" name="{{x}}.encounter.lairChance" value="{{extras.encounter.lairChance}}" placeholder="%"/></div></div>
        <div class="form-group"><label>{{localize "ACKS-MONSTERS.field.treasureType"}}</label>
          <div class="form-fields"><select name="system.details.treasure.type">{{selectOptions choices.treasure selected=system.details.treasure.type localize=true blank=""}}</select></div></div>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{localize "ACKS-MONSTERS.section.dungeonEnc"}}</legend>
      <div class="flexrow">
        <div class="form-group"><label>{{localize "ACKS-MONSTERS.field.wanderNoun"}}</label>
          <div class="form-fields"><input type="text" name="{{x}}.encounter.dungeon.wandering.noun" value="{{extras.encounter.dungeon.wandering.noun}}"/></div></div>
        <div class="form-group"><label>{{localize "ACKS-MONSTERS.field.wanderNumber"}}</label>
          <div class="form-fields"><input type="text" name="{{x}}.encounter.dungeon.wandering.number" value="{{extras.encounter.dungeon.wandering.number}}" placeholder="2d6"/></div></div>
        <div class="form-group"><label>{{localize "ACKS-MONSTERS.field.lairNoun"}}</label>
          <div class="form-fields"><input type="text" name="{{x}}.encounter.dungeon.lair.noun" value="{{extras.encounter.dungeon.lair.noun}}"/></div></div>
        <div class="form-group"><label>{{localize "ACKS-MONSTERS.field.lairNumber"}}</label>
          <div class="form-fields"><input type="text" name="{{x}}.encounter.dungeon.lair.number" value="{{extras.encounter.dungeon.lair.number}}" placeholder="6d10"/></div></div>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{localize "ACKS-MONSTERS.section.wildernessEnc"}}</legend>
      <div class="flexrow">
        <div class="form-group"><label>{{localize "ACKS-MONSTERS.field.wanderNoun"}}</label>
          <div class="form-fields"><input type="text" name="{{x}}.encounter.wilderness.wandering.noun" value="{{extras.encounter.wilderness.wandering.noun}}"/></div></div>
        <div class="form-group"><label>{{localize "ACKS-MONSTERS.field.wanderNumber"}}</label>
          <div class="form-fields"><input type="text" name="{{x}}.encounter.wilderness.wandering.number" value="{{extras.encounter.wilderness.wandering.number}}" placeholder="5d6"/></div></div>
        <div class="form-group"><label>{{localize "ACKS-MONSTERS.field.lairNoun"}}</label>
          <div class="form-fields"><input type="text" name="{{x}}.encounter.wilderness.lair.noun" value="{{extras.encounter.wilderness.lair.noun}}"/></div></div>
        <div class="form-group"><label>{{localize "ACKS-MONSTERS.field.lairNumber"}}</label>
          <div class="form-fields"><input type="text" name="{{x}}.encounter.wilderness.lair.number" value="{{extras.encounter.wilderness.lair.number}}" placeholder="6d10"/></div></div>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{localize "ACKS-MONSTERS.section.variants"}}
        <a class="acksm-mini" data-action="addRow" data-path="variants"><i class="fa-solid fa-plus"></i></a></legend>
      <p class="acksm-hint">{{localize "ACKS-MONSTERS.hint.variants"}}</p>
      <div class="acksm-rows">
        {{#each extras.variants as |row i|}}
        <div class="acksm-row">
          <input type="text" name="{{@root.x}}.variants.{{i}}.label" value="{{row.label}}" placeholder="{{localize 'ACKS-MONSTERS.field.variantLabel'}}"/>
          <input type="text" name="{{@root.x}}.variants.{{i}}.uuid" value="{{row.uuid}}" placeholder="{{localize 'ACKS-MONSTERS.field.variantUuid'}}"/>
          <a class="acksm-mini" data-action="removeRow" data-path="variants" data-index="{{i}}"><i class="fa-solid fa-trash"></i></a>
        </div>
        {{/each}}
      </div>
    </fieldset>

  </div>
</section>
