<section class="tab acksm-tab {{tab.cssClass}}" data-group="primary" data-tab="effects">
  <p class="acksm-hint">{{localize "ACKS-MONSTERS.hint.effects"}}</p>
  {{#each effectCategories as |cat key|}}
  <div class="acksm-effect-cat">
    <div class="acksm-list-head">
      <h3>{{localize cat.label}}</h3>
      <button type="button" data-action="createEffect"><i class="fa-solid fa-plus"></i></button>
    </div>
    <ol class="acksm-items">
      {{#each cat.effects as |effect|}}
      <li class="acksm-item" data-effect-id="{{effect.id}}">
        <img class="acksm-item-img" src="{{effect.img}}" data-action="editEffect" alt="{{effect.name}}" />
        <span class="acksm-item-name" data-action="editEffect">{{effect.name}}</span>
        <span class="acksm-item-controls">
          <a data-action="toggleEffect" data-tooltip="{{localize 'ACKS-MONSTERS.action.toggle'}}"><i class="fa-solid fa-power-off"></i></a>
          <a data-action="editEffect" data-tooltip="{{localize 'ACKS-MONSTERS.action.edit'}}"><i class="fa-solid fa-pen-to-square"></i></a>
          <a data-action="deleteEffect" data-tooltip="{{localize 'ACKS-MONSTERS.action.delete'}}"><i class="fa-solid fa-trash"></i></a>
        </span>
      </li>
      {{else}}
      <li class="acksm-empty">{{localize "ACKS-MONSTERS.empty.effects"}}</li>
      {{/each}}
    </ol>
  </div>
  {{/each}}
</section>
